extends layout

block content
    h1 #{title}
    each shift, i in shifts
      .panel.panel-default
        .panel-heading.shift
          h5(class='title')= shift.title
        .panel-body
          .row
            .col-lg-3
              u Start Details:
              h6=shift.start_time
            .col-lg-3
              u End Details:
              h6=shift.end_time
            .col-lg-3
              b Posted By:
              h6=shift.user_id
            .col-lg-3
              form(method='POST',action='/shift/accept')
                input(type='hidden', name='id', value=shift.id)
                input.btn.btn-success.tempbtn(type='submit', value='Accept Shift')
